<ng-container>
    <div *ngIf="chatId$ |async as chatid; else elseTmpl">
        <textarea class="chatInput"
                  rows="3" [(ngModel)]="newMsg" (keydown.enter)="submit(chatid)"></textarea>
        <button class="btn btn-danger" (click)="submit(chatid)">

            Reject
        </button>
        <button class="btn btn-success" (click)="submit(chatid)">
            Send
            
        </button>
    </div>
    <ng-template #elseTmpl>


        <input class="chatInput"
               [(ngModel)]="newRoom" (keydown.enter)="newRoomFn(newRoom)" />
        <button class="chatButton" (click)="newRoomFn(newRoom)">New room</button>
    </ng-template>

</ng-container>


