<div class="mainContent" >
  <div class="userListWrapper">
    <app-user-list   *ngIf="chat$|async as chat"  [uids]="chat.uids"></app-user-list>
  
    <div>
      <ul>
        <ng-template ngFor let-c [ngForOf]="userchats$|async" let-i="index">
          <li *ngIf="c.id!=chatId" >
            <a style="color:bisque" class="nav-link" [routerLink]='["/chats",c.id]'>{{c.title}}</a>
          </li>
        </ng-template>
      </ul>

    </div>

  </div>
  <div class="mesgs  msg_history" #scroller *ngIf="chat$|async as chat">

    <ng-template ngFor let-msg [ngForOf]="chat.messages" let-i="index" [ngForTrackBy]="trackByCreated">
      <ng-template [ngIf]="auth.currentUserId!=msg.uid" [ngIfElse]="incoming">
        <div class="incoming_msg">
          <div class="incoming_msg_img">

            <img [src]="msg.user.photoURL" [title]="msg.user.displayName" *ngIf="msg.user.photoURL else pimg">
            <ng-template #pimg>
              <i class="fas fa-address-card fa-2x"></i>
            </ng-template>
          </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>{{msg.content}}</p>
              <span class="time_date"> {{msg.createdAt|amTimeAgo}}  </span>
            </div>
          </div>

        </div>
      </ng-template>
      <ng-template #incoming>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>{{msg.content}}</p>
            <span class="time_date"> {{msg.createdAt|amTimeAgo}}  </span>
          </div>
        </div>
      </ng-template>
    </ng-template>
    <!--<pre> {{chat|json}}</pre>-->





  </div>

</div>

<div class="chatFormWrapper">
  <app-chat-form></app-chat-form>
</div>
